# Week 1: The Art of Data Wrangling & EDA 
## Day 1: The "CSV from Hell" – Advanced Cleaning

Today’s goal is to move past df.dropna(). You’ll encounter a dataset that mirrors a real-world "legacy system export": inconsistent date formats, numbers disguised as strings with currency symbols, and "dirty" headers.

Project Introduction & Dataset Exploration (20 Minutes)
Dataset: Kaggle: Dirty Data Sample (or any raw sales CSV containing symbols like $, ,, and mixed date formats).

The Scenario: You’ve been handed a 5-year sales export. The previous analyst did everything in Excel, and the formatting is a nightmare. Before any analysis can happen, you must "type-safe" this data.

The Audit: Load the data and run df.info() and df.head(10).

Identify the Red Flags:

Columns that should be floats (e.g., Sales_Amount) are listed as object.

Dates like 01/02/2023 and 2023-02-01 are sitting in the same column.

Trailing spaces in categorical strings (e.g., "Victoria " vs "Victoria").

### Step 1: Import dataframe

In [5]:
# Import Libraries.
import pandas as pd # For Data Cleaning
from itables import show #For Clean and interactive tables

# Read in the dataframe. Used df_dirty to differentiate from the end product.
df_dirty = pd.read_csv('my_file (1).csv')

# Displays the first 5 rows of data.
show(df_dirty.head(5))

### Step 2: Investigate data set.
It is clear from the .info() command that there are special characters in the numeric fields. 
*   Some Values in the *Peak* and *All Time Peak* field has a second number in square brackets.
*   *Actual gross*, *Adjusted gross i(in 2022 dolars)*, and *Average gross* fields have special symbols ("$" and ",") preventing it from reading as a number.
*   *Years* field contains some values as a year range.

In [2]:
# Describes the dataframe, including the data types and the null/NaN values
df_dirty.info()

<class 'pandas.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      str
 2   All Time Peak                     6 non-null      str
 3   Actual gross                      20 non-null     str
 4   Adjusted gross (in 2022 dollars)  20 non-null     str
 5   Artist                            20 non-null     str
 6   Tour title                        20 non-null     str
 7   Year(s)                           20 non-null     str
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     str
 10  Ref.                              20 non-null     str
dtypes: int64(2), str(9)
memory usage: 1.8 KB